/* defições padrões */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* melhor deixar assim pq pega tema escuro pra todas as paginas*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}
/* inicio da pagina de login */ 
#login-container h2 {
    margin-bottom: 20px;
}

#login-container {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: flex;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    color: #121212;
}

#login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;   
}
#login-btn:hover{
    background-color: #3105e2c2;
    color: #fff;
    transition: 0.3s;
}
/* fim da pagina de login */

/* Header Principal */
.main-header {
    display: flex;
    width: 100%;
    height: 100%;
}

#left-view {
    background: #1f1f1f;
    padding: 20px;
    width: 200px; /* Largura do painel esquerdo */
}

.new-email-btn {
    background-color: #3105e2c2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.new-email-btn:hover {
    background-color: #4f0c9e;
}

.folders {
    margin-top: 20px;
}

.folders p {
    margin: 10px 0;
}

/* Área Central */
#center-view {
    flex-grow: 1; /* Preenche o espaço restante */
    padding: 20px;
    background: #1f1f1f;
}

.email-list {
    margin-top: 20px;
}

/* Painel Direito */
#right-view {
    width: 200px; /* Largura do painel direito */
    background: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
}

.profile {
    text-align: right; /* Alinha o texto do perfil à direita */
}